In [1]:
import pandas as pd

In [15]:
tab1 = pd.read_csv('Inscritos em Processo.csv', sep = ',')
tab1

                                     Nome  Situação Inscrição
0                   Acsa Rodrigues Coelho  Liberado Matrícula
1          adiel regis ribeiro de araújo   Liberado Matrícula
2             Adonai Bruno Sousa de sousa  Liberado Matrícula
3                   Adriana teles fonseca  Liberado Matrícula
4                Adriane Pereira da Costa            Inscrito
..                                    ...                 ...
491             Yamina Oliveira da silva             Inscrito
492              Yara Claudia Santos Vale            Inscrito
493                  Yasmin Peres Correa   Liberado Matrícula
494  Ynara Albuquerque Teixeira dos Reis   Liberado Matrícula
495                   Yule da Silva Lopes           Matricula

[496 rows x 2 columns]

In [16]:
tab2 = pd.read_excel('pbu.xlsx')
tab2

    Turno Obtido                          Nome         Celular Benefício
0       MATUTINO         ACSA RODRIGUES COELHO  (92)99125-4923       50%
1        NOTURNO        AGELAM ALVES RODRIGUES  (92)98156-5250       50%
2     VESPERTINO  ALESSANDRO DA SILVA OLIVEIRA  (92)98262-8894       50%
3       MATUTINO    ALEXANDRE DOS SANTOS FÉLIX  (92)98488-0386       75%
4       MATUTINO         ALINE FARIAS DE SOUZA  (92)99303-2497       50%
..           ...                           ...             ...       ...
118     MATUTINO      VALDEIZA ARAUJO DE SOUZA  (92)99438-1116       75%
119     MATUTINO       VALDELINA FONTÃO VIEIRA  (92)98428-4458       75%
120      NOTURNO         VANESSA VIEIRA BARROS  (92)99187-3838       75%
121     MATUTINO   WILLIAN CLAUDIO DE OLIVEIRA  (35)99163-0322       50%
122     MATUTINO  YASMIM KELOANE QUEIROZ LOPES  (92)99382-5925       50%

[123 rows x 4 columns]

In [17]:
tab1.columns.str.lstrip()
tab1.columns.str.rstrip()

Index(['Nome', 'Situação Inscrição'], dtype='object')

In [18]:
tab2.columns.str.lstrip()
tab2.columns.str.rstrip()

Index(['Turno Obtido', 'Nome', 'Celular', 'Benefício'], dtype='object')

In [19]:
tab1['Nome'] = tab1['Nome'].astype(str)
tab1['Nome'] =tab1['Nome'].str.upper()

In [20]:
tab2['Nome'] = tab2['Nome'].astype(str)
tab2['Nome'] =tab2['Nome'].str.upper()

In [24]:
#df1['Curso'] =df1['Curso'].str.upper()
tab1 = tab1.rename(columns={'Situação Inscrição':'situacao'})
tab2 = tab2.rename(columns={'Turno Obtido':'turno'})
tab2['turno'] =tab2['turno'].str.upper()

In [32]:
tabtotal = pd.merge(tab1, tab2, on=['Nome'], how= 'inner', indicator = True )
tabtotal

,Nome,situacao,turno,Celular,Benefício,_merge
0,ACSA RODRIGUES COELHO,Liberado Matrícula,MATUTINO,(92)99125-4923,50%,both
1,AGELAM ALVES RODRIGUES,Liberado Matrícula,NOTURNO,(92)98156-5250,50%,both
2,ALESSANDRO DA SILVA OLIVEIRA,Liberado Matrícula,VESPERTINO,(92)98262-8894,50%,both
3,ALINE FARIAS DE SOUZA,Liberado Matrícula,MATUTINO,(92)99303-2497,50%,both
4,ALISSON NASCIMENTO DE OLIVEIRA,Matricula,NOTURNO,(92)98104-5265,50%,both
5,ANA CLAUDIA DE OLIVEIRA FERREIRA,Liberado Matrícula,VESPERTINO,(92)99357-5588,75%,both
6,ANA CRISTINA AZEVEDO DA SILVA,Liberado Matrícula,MATUTINO,(92)99443-1251,75%,both
7,ANA VITÓRIA PEREIRA DE OLIVEIRA,Matricula,VESPERTINO,(92)99440-4254,75%,both
8,BENAIA SOUZA DE OLIVEIRA,Liberado Matrícula,VESPERTINO,(92)99435-1525,75%,both
9,BRENDA RAQUEL DA SILVA FERNANDES,Matricula,NOTURNO,(92)99285-0349,75%,both
10,BRUNO AMORIM SANTARÉM,Matricula,MATUTINO,(92)99461-8413,50%,both
11,DANILA DA SILVA DE SOUZA,Matricula,NOTURNO,(92)99964-2963,75%,both
12,ELLOM ANGRY PEREIRA CORREA,Liberado Matrícula,NOTURNO,(92)99126-4940,50%,both
13,FELIPE SOUZA REGO,Liberado Matrícula,NOTURNO,(92)99506-5128,50%,both
14,GEISILENE OLIVEIRA DA SILVA,Inscrito,NOTURNO,(92)99316-5071,50%,both
15,IZONETE BATISTA LOPES,Inscrito,NOTURNO,(92)98812-1175,50%,both
16,JENNIFER MOURA DOS SANTOS,Matricula,MATUTINO,(92)99143-7342,50%,both
17,JORDANA BARBOSA ANDRADE,Matricula,NOTURNO,(92)98164-1213,50%,both
18,JULIANA COELHO SILVA,Matricula,VESPERTINO,(92)99212-5654,50%,both
19,KAREM VALENTE SOARES,Liberado Matrícula,NOTURNO,(92)99312-5484,50%,both
20,KARLIANA ALVES DUARTE,Matricula,MATUTINO,(92)99462-3496,50%,both
21,KÁSSIO AURÉLIO FERREIRA VIEIRA,Liberado Matrícula,NOTURNO,(92)98455-6647,50%,both
22,KLISSIA PEDROSA TEIXEIRA,Liberado Matrícula,VESPERTINO,(92)98178-8080,50%,both
23,LUÃ DIEGO MOREIRA DE LIMA,Matricula,NOTURNO,(92)98493-5622,50%,both
24,MADESON OLIVEIRA DA FONSECA,Liberado Matrícula,NOTURNO,(92)99367-6853,75%,both
25,MARCOS DANIEL FERNANDES ARRUDA,Liberado Matrícula,NOTURNO,(92)99239-1444,50%,both
26,QUESIA ROBERTO MARINHO,Liberado Matrícula,NOTURNO,(92)99248-2485,75%,both
27,RAIMUNDO IGSON MARQUES SOARES,Liberado Matrícula,NOTURNO,(92)99429-8416,75%,both

In [27]:
#tabtotal=tab2.merge(tab1, on = "Nome", how = "outer", indicator = True)
tabtotal.drop_duplicates(subset="Nome")
#dfcontat = pd.concat([df1,df2],ignore_index=False, indicator= True)
#dfcontat.drop_duplicates(subset= "Nome")
#dftotal.shape
tabtotal.shape

(28, 6)

In [29]:
tab1

                                     Nome            situacao
0                   ACSA RODRIGUES COELHO  Liberado Matrícula
1          ADIEL REGIS RIBEIRO DE ARAÚJO   Liberado Matrícula
2             ADONAI BRUNO SOUSA DE SOUSA  Liberado Matrícula
3                   ADRIANA TELES FONSECA  Liberado Matrícula
4                ADRIANE PEREIRA DA COSTA            Inscrito
..                                    ...                 ...
491             YAMINA OLIVEIRA DA SILVA             Inscrito
492              YARA CLAUDIA SANTOS VALE            Inscrito
493                  YASMIN PERES CORREA   Liberado Matrícula
494  YNARA ALBUQUERQUE TEIXEIRA DOS REIS   Liberado Matrícula
495                   YULE DA SILVA LOPES           Matricula

[496 rows x 2 columns]

In [28]:
tab1['Nome'].unique()

array(['ACSA RODRIGUES COELHO', 'ADIEL REGIS RIBEIRO DE ARAÚJO ',
       'ADONAI BRUNO SOUSA DE SOUSA', 'ADRIANA TELES FONSECA',
       'ADRIANE PEREIRA DA COSTA', 'ADRIANE SOUZA DO NASCIMENTO',
       'ADRIANE VITORIA TAVARES SERRAO', 'ADRIANO SOLIMÕES DOS SANTOS ',
       'AGELAM ALVES RODRIGUES', 'ALAISE MARTINA OCHOA DA SILVA ',
       'ALDEIZA BRASIL VALE MENDES', 'ALESSANDRA CAMARÃO DE AZEVEDO ',
       'ALESSANDRA LIMA ROCHA', 'ALESSANDRA MAYRA BATISTA BULCÃO',
       'ALESSANDRA TAVARES DUARTE', 'ALESSANDRO DA SILVA OLIVEIRA',
       'ALEXANDRE HENRIQUE DINIZ DE OLIVEIRA',
       'ALEXANDRO NUNES DOS SANTOS', 'ALICE ROCHA RODRIGUES',
       'ALINE FARIAS DE SOUZA', 'ALINE KELLY BARBOSA DE AMORIM ',
       'ALINE SOBREIRA QUADROS', 'ALISON RODRIGUES MACEDO',
       'ALISSON NASCIMENTO DE OLIVEIRA',
       'ALTEMAR OLIVEIRA DA SILVA FILHO', 'AMANDA ROLIM DE LIMA',
       'AMANDA SILVESTRINI SCHULLZ ', 'AMETISTA KESSIA RODRIGUES AGUIAR',
       'ANA ANDREIA AVINTE DE OLIVEIRA', 'ANA BEATRIZ GOMES DE SOUZA',
       'ANA BEATRIZ SCHRANN CORDEIRO LUCENA ',
       'ANA CECILIA CRUZ OLIVEIRA', 'ANA CLAUDIA DE OLIVEIRA FERREIRA',
       'ANA CRISTINA AZEVEDO DA SILVA', 'ANA FLÁVIA DE OLIVEIRA SIMITE ',
       'ANA JHULY SALES ', 'ANA LETÍCIA CIDADE DE OLIVEIRA',
       'ANA LUIZA TRAVASSOS CAMPOS', 'ANA PATRICIA CARMO CARNEIRO',
       'ANA RAFAELA ALMEIDA BARROS', 'ANA RENATA SARMENTO TAVARES',
       'ANA VITÓRIA PEREIRA DE OLIVEIRA', 'ANDERSON GABRIEL SILVA CURICO',
       'ANDERSON GADELHA DO CANTO', 'ANDERSON LUIS SILVA DE LIMA',
       'ANDREA DA SILVA ROQUE', 'ANDREIA PASSOS MORENO ',
       'ANDRESSA GABRIELLY VIEIRA LIMA DA SILVA', 'ANDREZA COELHO GALVÃO',
       'ANDREZA FERREIRA LIMA', 'ANDREZA RODRIGUES GAMA ',
       'ANDRIELE MORAES PORTELA ',
       'ANGÉLICA GYOVANNA ALMEIDA DOS SANTOS ',
       'ANNA PAULA VENÂNCIO CÂNDIDO ',
       'ANTONIO DAS DORES OLIVEIRA FERREIRA JUNIOR',
       'ANTONIO JOSIANO PEREIRA LIMA',
       'ANTONIO MARCOS BATISTA DOS SANTOS JUNIOR',
       'ANTONIO RIBEIRO LOPES NETO', 'AQUELÇO GOMES DE OLIVEIRA',
       'ARIADNY DIAS MENDES', 'ARIANA DA COSTA BASTOS',
       'ARIEL ARIANE DA NOBREGA BRITO', 'ARTHUR CORREA DA SILVA',
       'AURIANE CRISTINA DA SILVA FREITAS', 'BARBARA FERREIRA DA SILVA',
       'BÁRBARA VICTÓRIA COSTA DOS SANTOS ', 'BENAIA SOUZA DE OLIVEIRA',
       'BIANCA SAMARA MARTINS DOS SANTOS ',
       'BRENDA RAQUEL DA SILVA FERNANDES', 'BRENDO ALMEIDA PEREIRA ',
       'BRENO GONZALO NOGUEIRA SEGURA', 'BRUNA COSTA MAIA',
       'BRUNA VITÓRIA MESQUITA MOURA', 'BRUNO AMORIM SANTARÉM',
       'BRUNO DA SILVA SOUTO', 'BRUNO EDUARDO BARROS',
       'BRUNO GOMES DO NASCIMENTO ', 'BRUNO RAYKER LOBATO CAMPELO',
       'CAIO VITOR DE ASSIS DIAS', 'CALIL DE MELO BATISTA',
       'CAMANDA JANAIA RODRIGUES DE JESUS',
       'CAMILA CIANNE SILVA DOS SANTOS', 'CARINE DA SILVA SANTANA',
       'CARLA SABRINA DE SOUZA E SOUZA',
       'CARLOS AUGUSTO DOS SANTOS SENA JUNIOR',
       'CARLOS HENRIQUE MARTINS PITILLO', 'CAROLINE BENJAMIM PINHEIRO ',
       'CAROLINE SILVA FREITAS ', 'CASSIA COSTA DE ALENCAR',
       'CECILIA LOHANA FERMIN MONTEIRO', 'CELIANA MIRANDA DE OLIVEIRA ',
       'CHELLY GABRIELE ASSUNCAO BAGGIO', 'CIBELLE BARBOSA DOS SANTOS ',
       'CLARICE SILVA DE SOUSA', 'CLÁUDIA ARAÚJO SOARES',
       'CLAUDIA ELISA MARTINS VIEIRA', 'CLEUDERSON SOUZA DOS REIS',
       'CLEUSON ROCHA DE SOUZA ', 'CRISTINA VERCOSA MONTEIRO',
       'DAFINNY MENDONÇA CARDOSO', 'DAIANA DE OLIVEIRA ALMEIDA ',
       'DAIANA MESQUITA FORMIGA', 'DAISY RODRIGUES DOS SANTOS ',
       'DALVA MONTEIRO DE MELO', 'DANIEL OLIVEIRA DA SILVA ',
       'DANIELA AMARAL DE SOUZA', 'DANIELLE MORATO DA SILVA',
       'DANIELLE TALLYTA DE SOUZA SILVA', 'DANIELLY DA SILVA',
       'DANILA DA SILVA DE SOUZA', 'DARCINEIA RAMOS PONTES',
       'DAVI DE EMANOEL MACEDO DE FIGUEIREDO ',
       'DENISE LUCIANA MACHADO DO NASCIMENTO ', 'DENIZE ALVES DA ROCHA ',
       'DHANDARA ALBUQUERQUE DA SILVA', 'DIANA VITÓRIA SANTANA NUNES',
       'DIANINNY LOURENA EVANGELISTA LIMA ', 'DIEGO FEITOZA DA SILVA',
       'DIEGO SILVA BARBOSA', 'DIOGAN BATISTA DE AZEVEDO',
       'DULCILENE ALVES DIAS', 'EDILENE CASCAE QUARESMA',
       'EDIVALDO BARROS DA SILVA', 'EDSON DA SILVA AZEVEDO JUNIOR',
       'EDSON VICTOR DA SILVA GUIMARAES ', 'EDUARDO APOCINO BATISTA',
       'EDUARDO BARBOSA ARAÚJO ', 'EDUARDO CARLOS OLIVEIRA DE FREITAS',
       'EDUARDO CERQUEIRA SILVA', 'EDUARDO DE MOURA SOUZA',
       'EDUARDO PINTO DA SILVA', 'EDY CARLOS CASTRO DE ALMEIDA ',
       'ELCIANE MORAES DOS SANTOS', 'ELESANDRA DE SOUZA ENEDINO BASTO',
       'ELIADE DE SOUSA VIEIRA ', 'ELIANE DA SILVA PANTOJA',
       'ELIAS RAPHAEL DE CASTRO OLIVEIRA', 'ELIZABETE NORONHA DA SILVA',
       'ELIZANDRA ARAÚJO PEREIRA', 'ELLEN COSTA DA SILVA',
       'ELLOAN RAFAEL DA MATA SOUSA', 'ELLOM ANGRY PEREIRA CORREA',
       'ELVYS DA SILVA RAMIRES', 'ENOC BARBOSA DA SILVA FILHO',
       'ERIKA DIAS RAMOS', 'ÉRIKA PEREIRA DA SILVA',
       'ERISLEY CAMPOS DA SILVA MARQUES ', 'ESTER COSTA DOS SANTOS',
       'ESTHER AYUMI NISHIHIRA', 'EVELLYN VITÓRIA PERDIGAO DA SILVA ',
       'EVELYN DA SILVA RAMIRES', 'EVERALDO DE CASTRO CARVALHO JÚNIOR ',
       'FABIANA PEREIRA REBOLSO', 'FATIMA MULLER MATOS OLIVEIRA',
       'FELIPE COELHO DE JESUS AVINTE', 'FELIPE SOUZA REGO',
       'FERNANDO FACUNDES MENEZES', 'FILIPE CARDOSO MONTEIRO',
       'FRANCIANY DA SILVA REIS ', 'FRANCILENE MENDONÇA DA SILVA',
       'FRANCISCA DE SOUZA VAGIS', 'FRANCISCO WILLIAMS BRASIL DE AGUIAR ',
       'FREDERICO DOS SANTOS RODRIGUES', 'GABRIEL COSTA PINTO',
       'GABRIEL JARDIM BRAGA', 'GABRIEL LIMA SANTANA',
       'GABRIEL MOREIRA MENEZES', 'GABRIELA DA COSTA MELO ',
       'GABRIELA DE AGUIAR SOBREIRA',
       'GABRIELA DOS SANTOS FREITAS SIQUEIRA', 'GABRIELA GOMES FERREIRA',
       'GABRIELA SILVA CAÇULA ', 'GEISA PATRINE CORREA INHUMA',
       'GEISILENE OLIVEIRA DA SILVA', 'GEOVANA BARROS COELHO ',
       'GERLEAN DA SILVA BRANDÃO ', 'GILMAR MORAIS ARAUJO',
       'GIOVANNA BEATRIZ DIAS BARROSO',
       'GISA FERNANDA GUADALUPE RIBEIRO DE SOUZA',
       'GISELE GONÇALVES GARCIA RODRIGUES ',
       'GIULY ANNE GORDIANO ROSOLINO ', 'GLAUBERSON BEZERRA SILVA',
       'GLAUCIA RAQUEL FARIAS MELLO', 'GREICY KELLY RIBEIRO FEITOZA',
       'HAISSA SWAMY DA COSTA', 'HANNAH BENTES MACIEL',
       'HEIDE EDUARDA BELEM DE FREITAS',
       'HEINER PORTUGAL CARVALHO BARBOSA', 'HELENA DESSANA MACIEL REIS',
       'HELIO RIBEIRO DE AGUIAR ', 'HELLEN CORREA RANGEL',
       'IGOR DE ARAUJO', 'ILAN GABRIEL DA SILVA GONCALVES',
       'INSCRIÇÃO DE TESTE', 'INSCRIÇÃO TESTE', 'IRACY FERNANDES SOARES ',
       'ISABELA LIMA GARCIA ', 'ISABELLA ALICE DE FRANÇA SIFRONIO ',
       'ISABELLE FERNANDA FAÇANHA BARAUNA',
       'ISABELLY MIKAELLY FROES DE CARVALHO',
       'ISABELLY VITORIA UCHOA DE OLIVEIRA', 'ISADORA VALE DE FARIAS',
       'IVO CARNEIRO VIEIRA NETO',
       'IZABELLE CAROLINA GOMES DO NASCIMENTO ', 'IZONETE BATISTA LOPES',
       'JADDERSON JESSE GOMES DE CAMARGO', 'JANAÍNA DUTRA MORENO ',
       'JANAÍNA QUEIROZ DA SILVA ', 'JANAYNA BRASIL PIMENTEL ',
       'JANAYNA.VITORIA555@GMAIL.COM', 'JANDERSON LIMA DE SOUZA ',
       'JANE VITÓRIA ALVES CUNHA', 'JANETE FERREIRA NOGUEIRA ALBUQUERQUE',
       'JEAN FERREIRA DE OLIVEIRA ', 'JEAN HERVERSON DA SILVA TORRES',
       'JEDERCLEY MENDONCA LOPES', 'JENARA KISSIA LOPES NASCIMENTO',
       'JENNIFER MOURA DOS SANTOS', 'JENNIFER PEREIRA PINHEIRO',
       'JEOVANA VIEIRA BARBOSA', 'JESSICA', 'JÉSSICA MIRANDA PINHEIRO',
       'JÉSSICA REIS AGUIAR', 'JHENEFFER FREITAS DOS SANTOS',
       'JHENNIFER STEFFANY TAVEIRA DAS CHAGAS ',
       'JHONATAN FERREIRA DOURADO', 'JHUAN ASSIRIO LOPES CAMPOS',
       'JOAO EMANUEL DE ALBUQUERQUE', 'JOÃO FILHO DA SILVA NUNES',
       'JOAO PAULO SOUZA GOMES', 'JOÃO VICTOR',
       'JOÃO VICTOR ARAÚJO DA SILVA', 'JOÃO VICTOR DA SILVA VIEIRA ',
       'JOCASTA COLARES FERREIRA', 'JOCIANY DA SILVA',
       'JOEL GOMES MARTINS', 'JOELMA SANTOS COSTA COELHO',
       'JORDANA BARBOSA ANDRADE', 'JOSE BOSCO DE ARAUJO JUNIOR',
       'JOSE CARLOS LEÃO BRAGA', 'JOSE IVAN FERNANDES LOBATO',
       'JOSIANE DE OLIVEIRA CARDOSO', 'JOSIANE TAVARES MELO',
       'JÔVANA SOUZA DA SENA ', 'JULIANA ARANHA BATISTA ',
       'JULIANA BARROS DA SILVA', 'JULIANA COELHO SILVA',
       'JULIANA TELES DA SILVA ', 'JULIANY SAMPAIO SALES',
       'KAIZA SILVA DE ARAUJO', 'KALYANNE TAVARES RAMOS ',
       'KAREM VALENTE SOARES', 'KARINA PAIVA GAMA',
       'KARLA LORRANE DA SILVA TORRES', 'KARLA VITORIA LIMA XAVIER ',
       'KARLENE MOREIRA DE LIMA ', 'KARLIANA ALVES DUARTE',
       'KARYNNE SILVA DE SOUZA ', 'KÁSSIO AURÉLIO FERREIRA VIEIRA',
       'KATIA DOS SANTOS FERREIRA', 'KAYO CESAR OLIVEIRA DE SOUSA',
       'KAYONE LACERDA DA COSTA', 'KELEM CRISTINA CRUZ DE MEIRELLES ',
       'KELIANE BRITO VENANCIO ', 'KELLEN MAYANE ABREU DO NASCIMENTO',
       'KELLY AMORIM DOS SANTOS ', 'KELLY EDNA DE OLIVEIRA MARQUES',
       'KELLY GOMES DE SOUZA', 'KÉSSIA NATHÁLIA MARTINS DE QUEIROZ',
       'KETHLEN GEOVANNA MARTINS DA SILVA', 'KISSY FONTANI LOPES',
       'KLEBER FERREIRA VILENA', 'KLISSIA PEDROSA TEIXEIRA',
       'KRISTHINE COSTA ', 'LADIOMARA GAMA DA CRUZ',
       'LADY VITORIA SILVA PADILHA', 'LAECIO NOBRE',
       'LAÍS MATIAS SAMPAIO ', 'LARISSA BEATRIZ RIBEIRO LIMA ',
       'LARISSA LIMA DIAS ', 'LARISSA SOUZA DE OLIVEIRA ',
       'LARISSE JINKINGS ARAÚJO', 'LAUDICEIA VIEIRA MAIA',
       'LAURO MAURÍCIO GOMES DIAS ', 'LAYLA YASMIN NOBRE DA SILVA',
       'LEA CRAVEIRO RAMOS ', 'LEANY DA SILVA PANTOJA ',
       'LEILA CRISTINA GONZAGA DE OLIVEIRA', 'LEILANE BULCAO GOMES ',
       'LEILANE RIBEIRO MOTA', 'LETICIA CARNEIRO SOARES',
       'LETICIA DA SILVA GOMES', 'LÉYA LIM DE SOUZA',
       'LIDYANE CAROLYNE PINTO', 'LIGIA RODRIGUES TEIXEIRA ',
       'LILIANE DOS SANTOS NERIS', 'LINCOLN  DE PAULA CUNHA',
       'LOHANA MACHADO GOMES', 'LORENA GRAZIELLA MORAES PINHEIRO ',
       'LORENA NATALIE NASCIMENTO DOS SANTOS', 'LORENA NUNES PEREIRA',
       'LORENA RODRIGUES SALGADO', 'LUÃ DIEGO MOREIRA DE LIMA',
       'LUCAS DE MIRANDA SEDA', 'LUCAS DE SOUSA LIMA',
       'LUCAS RODRIGUES VALENTIN', 'LUCIA ERIKA GONÇALVES NASCIMENTO',
       'LUCIELDI DE OLIVEIRA LEMOS', 'LUCINALDO ALBUQUERQUE FONTENELE',
       'LUIRLA DE OLIVEIRA PINHEIRO', 'LUIS CLÁUDIO RODRIGUES DOS SANTOS',
       'LUIS FERNANDO OLIVEIRA DA SILVA', 'LURDIANE BRAZ DE FIGUEIREDO ',
       'MADESON OLIVEIRA DA FONSECA',
       'MAERLO SEBASTIAO BALIEIRO VILAGELIM', 'MAIARA DOS SANTOS CAMPOS',
       'MANUELY DANTAS DA SILVA', 'MARCELO MARINHO CARDOSO',
       'MARCIA DOS SANTOS PINTO ', 'MARCIA ROBERTA NEVES DAS CHAGAS',
       'MÁRCIO DA SILVA MARQUES ', 'MARCIO DE SOUZA E SOUZA ',
       'MARCOS DA SILVA CORREIA', 'MARCOS DANIEL FERNANDES ARRUDA',
       'MARIA DA CONCEICAO DOS SANTOS SILVA',
       'MARIA DA CONCEIÇÃO LIMONGI DA SILVA', 'MARIA DA SILVA COSTA ',
       'MARIA DAS DORES BRITO BEZERRA',
       'MARIA DE LOURDES PEREIRA DA SILVA',
       'MARIA DO CARMO SOUZA DA SILVA',
       'MARIA EDUARDA FIGUEIREDO VIEIRA ',
       'MARIA EDUARDA MORAES DA CUNHA', 'MARIA EDUARDA RIBEIRO COSTA',
       'MARIA HALLEY COSTA CARRIL', 'MARIA HELENA ALMEIDA ALBINO',
       'MARIA JOSÉ VIEIRA DE ANDRADE ',
       'MARIA LIBERDADE MARQUES DOS SANTOS',
       'MARIA SOLANGE MARTINS CORRÊA', 'MARIA TESTE',
       'MARIA URSULA SALES DO AMARAL', 'MARIA VITÓRIA ',
       'MARIANA TORQUATO SARAIVA', 'MARIETA CASTRO ',
       'MARILDA SILVA DO NASCIMENTO', 'MARINA FERNANDA FERREIRA MAIA ',
       'MARIO JORGE', 'MARTA GABRIELA FERNANDES DA SILVA ',
       'MARTONEIDE CASTRO MACHADO', 'MATHEUS MUNIZ FARIAS',
       'MATHEUS PINHEIRO CASTRO', 'MAYARA GUEDES DE OLIVEIRA ',
       'MAYRA GLEYCE FERMIN MONTEIRO',
       'MICHELE PATRÍCIA DA ROCHA RODRIGUES', 'MICHELLE GANUM CAMPAINHA',
       'MILENA PALHETA DE AZEVEDO', 'MIRLENE DA SILVA VIEIRA',
       'MONICA LIBORIO RODRIGUES', 'MONIQUE MORAIS DO ',
       'NAIANE PEREIRA DOS SANTOS ', 'NAIRA MARTINS DA SILVA',
       'NATACHA PEREIRA LOPES ', 'NATANAEL AMORIM RODRIGUES ',
       'NATHALIA DO CARMO DE SOUSA ', 'NAYARA CAROLINE AZEVEDO COSTA ',
       'NEUCYNARA GONÇALVES DE OLIVEIRA', 'NEUZA JENNYFER SOUZA SILVA ',
       'NICOLLE DA SILVA GLUCK', 'NIKOLAS BENAYON DE BRITO',
       'NOEME CERDEIRA COELHO ', 'NORMA JANE MACEDO DE SOUZA',
       'ODEMAR MACEDO LOPES NETO', 'OLACIR AQUINO FERREIRA JUNIOR ',
       'ORENI CAMPELO BRAGA DA SILVA',
       'ORIANNYS MAGDIEL MEDINA CALZADILLA',
       'OSVALDO MATEUS ALMEIDA CALAZANS',
       'PALOMA CRISTINA LIMA DOS SANTOS',
       'PAMELA LETÍCIA COELHO DE OLIVEIRA ', 'PATRICIA BARBOSA DE SOUZA',
       'PATRICIA COELHO NUNES ', 'PAULO DANIEL TRAJANO GONÇALVES',
       'PAULO HENRIQUE DE ALMEIDA NINA JUNIOR',
       'PEDRO HENRIQUE RIBEIRO DUARTE', 'PEDRO RAIMUNDO PAES FONSECA',
       'POLIANA KÁLIDA ANDRADE DA COSTA', 'PRISCILA DE OLIVEIRA FERREIRA',
       'QUESIA ROBERTO MARINHO', 'RACHEL MONTEIRO AZEVEDO',
       'RACHEL REBELO VANDERLEI', 'RAFAEL BARROS DA PAZ',
       'RAFAEL DOS SANTOS SODRÉ', 'RAFAEL NUNES DE VASCONCELOS',
       'RAFAEL PORTELA LIMA DA SILVA', 'RAILANE DIAS DE LIMA ',
       'RAIMISON BRAGA FÉLIX', 'RAIMUNDO IGSON MARQUES SOARES',
       'RAPHAEL LUD MARTINS MEDEIROS', 'RAQUEL DE SOUZA ROLIM',
       'RAQUEL RODRIGUES MAGALHÃES', 'RAYLANE DE LIRA ARAUJO',
       'REBECA ALVES DE BARROS ', 'REBECA CRISTINA FERREIRA DA SILVA',
       'REBEKA EMELLY ', 'REJANE CONCEIÇÃO CORREA SANTANA', 'RENARA',
       'RIZOCLEA VALE DA COSTA', 'ROBERTO SANTIAGO OLIVEIRA MELGUEIRO ',
       'RODRIGO MOTTA FERREIRA', 'RODRIGO RODRIGUES DO COUTO',
       'ROGER LOPES CORTEZ', 'ROGERIA CAVALCANTE DA CUNHA',
       'ROGÉRIO DE ARAUJO NASCIMENTO JÚNIOR', 'RONALD MEDEIROS TEIXEIRA',
       'RONNY GILY COELHO FARIAS', 'ROSA MARIA ALMEIDA GAMA',
       'ROSIMERY DA SILVA VIEIRA', 'ROSINEIDE RODRIGUES ARCANJO ',
       'RUDISON NEVES DO CARMO', 'RYANN LUCAS LIMA MELO',
       'SÁDYNO RODRIGUES FERNANDES FILHO ', 'SAICHA LORENA BATISTA BITAR',
       'SAINA ÂNDRIAN DA COSTA BARRETO', 'SALYNI COSMO DE SALES',
       'SAMIRA CHAVES MARINHO', 'SAMUEL CAVALCANTE CARVALHO',
       'SAMUEL CUNHA LIMA', 'SAMUEL DA SILVA MENEZES',
       'SAMUEL PIRES FERREIRA DE SOUZA', 'SAMUEL RAMOS DA SILVA ',
       'SANDRA MARIA LIMA DOS SANTOS', 'SARA DA SILVA FERREIRA ', 'SARAH',
       'SARAH RAQUEL OLIVEIRA DA SILVA', 'SHEILA DA SILVA MARICAUA',
       'SHELRY GREYCE MELO RODRIGUES', 'SILVANA DA SILVA SANTANA',
       'SLANDA MARINHO DA SILVA', 'SÔNIA NOGUEIRA LEMOS',
       'SOPHIA UCHÔA DE OLIVEIRA ', 'STEFANNY CUNHA ROEPKE',
       'STEFANY SANTOS DA SILVA', 'STÉPHANE CRUZ SOUZA',
       'STHEFFANNY MAFRA DE SOUZA', 'STHEPHANNY GABRIELLE',
       'SUELLEN GOMES DUARTE', 'SUZANA DE OLIVEIRA BARBOSA GOMES',
       'TAINA MICHILES GUIMARAES ', 'TAMILLES MORENO PRAIA ',
       'TAMIRES SILVA NASCIMENTO', 'TESTE DESCONSIDERAR',
       'TESTE ERRO INSCRIÇÃO', 'THAIANA DA SILVA GUEDES',
       'THAILA DOS SANTOS ARAGAO', 'THAINA DE OLIVEIRA PEREIRA',
       'THAINÁ NASCIMENTO DE LIMA', 'THAÍS  DIAS  DA SILVA ',
       'THAIS AGUIAR DE SOUZA ', 'THAIS ROCHA DE OLIVEIRA ',
       'THARCYA PRISCILA DE SOUZA BARCA',
       'THATYANE MANUELLE LIMA DA SILVA', 'THAYNA RAMOS REIS ',
       'THIAGO PINTO LOPES', 'TIAGO NOBRE MARTINS',
       'TULLY ELISSA CASTRO SANTOS ALBUQUERQUE',
       'ULISSES AMARO CORREA JUNIOR', 'ÚRSULA CAVALCANTE FERREIRA',
       'VALMIR DE SOUZA SOARES JUNIOR ', 'VANESA RAMOS DA MATA',
       'VANESSA DOS SANTOS FERNANDES', 'VANESSA FERREIRA ALVES ',
       'VANESSA LOPES DOS SANTOS',
       'VICENTE DE PAULA RODRIGUES BESSA JUNIOR ', 'VICTOR',
       'VICTOR DOUGLAS GARCIA FROZ', 'VICTÓRIA INGRID BARROS E SILVA ',
       'VICTÓRIA MAIA DA SILVA E SILVA', 'VITORIA DOS SANTOS REIS SOUZA',
       'VIVIAN CAROLAYNE FALCÃO DE ALMEIDA ',
       'VIVIAN REBECA BATISTA ARAUJO ', 'VIVIANE ALVES DO NASCIMENTO',
       'WALDENILSON RODRIGUES DE FIGUEIREDO',
       'WANDEILSON FALCÃO DOS SANTOS ', 'WENCESLAU ABTIBOL FILHO',
       'WESLLEY SCHWANKE DOS SANTOS BATISTA',
       'WILLIAM GABRIEL MORAIS LEAL', 'WILLIAM SILVA QUEIROZ ',
       'WILLYAN MAKLOUF CARVALHO',
       'WILSON CARLOS DOS SANTOS SIMOES JUNIOR',
       'WIRLEY EDUARDO MARINHO DA ROCHA ', 'YAMINA OLIVEIRA DA SILVA ',
       'YARA CLAUDIA SANTOS VALE', 'YASMIN PERES CORREA ',
       'YNARA ALBUQUERQUE TEIXEIRA DOS REIS ', 'YULE DA SILVA LOPES'],
      dtype=object)

In [30]:
tab2

          turno                          Nome         Celular Benefício
0      MATUTINO         ACSA RODRIGUES COELHO  (92)99125-4923       50%
1       NOTURNO        AGELAM ALVES RODRIGUES  (92)98156-5250       50%
2    VESPERTINO  ALESSANDRO DA SILVA OLIVEIRA  (92)98262-8894       50%
3      MATUTINO    ALEXANDRE DOS SANTOS FÉLIX  (92)98488-0386       75%
4      MATUTINO         ALINE FARIAS DE SOUZA  (92)99303-2497       50%
..          ...                           ...             ...       ...
118    MATUTINO      VALDEIZA ARAUJO DE SOUZA  (92)99438-1116       75%
119    MATUTINO       VALDELINA FONTÃO VIEIRA  (92)98428-4458       75%
120     NOTURNO         VANESSA VIEIRA BARROS  (92)99187-3838       75%
121    MATUTINO   WILLIAN CLAUDIO DE OLIVEIRA  (35)99163-0322       50%
122    MATUTINO  YASMIM KELOANE QUEIROZ LOPES  (92)99382-5925       50%

[123 rows x 4 columns]

In [31]:
tab2['Nome'].unique()

array(['ACSA RODRIGUES COELHO', 'AGELAM ALVES RODRIGUES',
       'ALESSANDRO DA SILVA OLIVEIRA', 'ALEXANDRE DOS SANTOS FÉLIX',
       'ALINE FARIAS DE SOUZA', 'ALISSON NASCIMENTO DE OLIVEIRA',
       'ANA CLAUDIA DE OLIVEIRA FERREIRA',
       'ANA CRISTINA AZEVEDO DA SILVA', 'ANA PAULA FERNANDES DA COSTA',
       'ANA VITÓRIA PEREIRA DE OLIVEIRA',
       'ANDERSON DE OLIVEIRA RODRIGUES BARROS',
       'ANDREZZA GAMBOA GUIMARÃES', 'AQUELCO GOMES DE OLIVEIRA',
       'ÁTTILA JONE VIEIRA DE ALMEIDA',
       'BÁRBARA VICTÓRIA COSTA DOS SANTOS', 'BENAIA SOUZA DE OLIVEIRA',
       'BIANCA CAMILLE FONTENELLE PEREIRA',
       'BRENDA RAQUEL DA SILVA FERNANDES', 'BRUNO AMORIM SANTARÉM',
       'BRUNO TORQUATO DE MELO', 'CAMILA PEREIRA DA SILVA',
       'CAMILA VITORIA DAMASCENO', 'CARLA BIANCA BARBOSA PINHO',
       'CARLA BRAZ BENTES', 'CARLA LOYSE GAMA SIMAS',
       'CAROLINA RAYANE CORREIA BRAGA', 'CLAUDIA OLIVEIRA DE SOUZA',
       'CLEIA SOUZA DE OLIVEIRA', 'DAIANA DE OLIVEIRA ALMEIDA',
       'DAIRA DIANE RODRIGUES DE OLIVEIRA', 'DANILA DA SILVA DE SOUZA',
       'DANNYELLY SILVA DE FRANÇA', 'DÁVILA LARISSA LIMA DA SILVA',
       'DEBORA KETLEN PINTO LIRA', 'EDRIEL MAGALHÃES MENDES',
       'ELIONARDO LUCAS DE LIMA', 'ELLOM ANGRY PEREIRA CORREA',
       'EMANUELE MACIEL RIBEIRO', 'ESTER LETÍCIA RODRIGUES DE SOUSA',
       'FABIOLA DO NASCIMENTO MESQUITA', 'FELIPE ADRIANO LOPES LUZ',
       'FELIPE SOUZA REGO', 'FLÁVIO ARAÚJO AMAZONAS',
       'GABRIELA MOREIRA DE AZEVEDO', 'GEISILENE OLIVEIRA DA SILVA',
       'GIOVANNA LAÍS DOS SANTOS CARDOSO',
       'GLEICIANE MEDELEN DOS SANTOS SOUZA', 'GUSTAVO DA SILVA CAMARGO',
       'HAHISSA FURTADO DE MATOS', 'HENSLEY BRASIL DA SILVA',
       'IGOR DAS NEVES CAVALCANTE', 'IVANETE XAVIER DO NASCIMENTO',
       'IZONETE BATISTA LOPES', 'JEDERCLEY MENDONÇA LOPES',
       'JENNIFER MOURA DOS SANTOS', 'JÉSSICA TAYSA DOS SANTOS BORGES',
       'JHENNIFER STEFFANY TAVEIRA DAS CHAGAS',
       'JHONATAN DOS SANTOS BRAZIL', 'JOÃO LUCAS PEREIRA SANTOS',
       'JOÃO VICTOR DE SOUZA MARINHO', 'JOELMA PRISCILA DE OLIVEIRA MOTA',
       'JORDANA BARBOSA ANDRADE', 'JOVANA SOUZA DA SENA',
       'JULIANA COELHO SILVA', 'KAREM VALENTE SOARES',
       'KARLA VITORIA LIMA XAVIER', 'KARLIANA ALVES DUARTE',
       'KARYNNE SILVA DE SOUZA', 'KASSIA DOS SANTOS MARCOLINO',
       'KÁSSIO AURÉLIO FERREIRA VIEIRA',
       'KENNEDY WYNDSON BACREY DE OLIVEIRA',
       'KESSIA NATHALIA MARTINS DE QUEIROZ', 'KETIMA SIQUEIRA DOS SANTOS',
       'KLISSIA PEDROSA TEIXEIRA', 'LARISSA BEATRIZ RIBEIRO LIMA',
       'LARISSA LIMA DIAS', 'LEA CRAVEIRO RAMOS',
       'LINCOLN DE PAULA CUNHA', 'LÍVIA CRISTINA REIS E OLIVEIRA',
       'LORENA GRAZIELLA MORAES PINHEIRO', 'LUÃ DIEGO MOREIRA DE LIMA',
       'LUCAS CORDEIRO LIMA', 'LUCAS DE MENDONÇA VIEIRA',
       'LUCAS LOPES DOS SANTOS', 'MADESON OLIVEIRA DA FONSECA',
       'MALLENA EVELEN AUZIER DE OLIVEIRA',
       'MARCOS DANIEL FERNANDES ARRUDA', 'MARCOS ROGÉRIO DA SILVA JÚNIOR',
       'MARIA JOSÉ VIEIRA DE ANDRADE', 'MARTA RITA DA SILVA BRITO',
       'MAYKON JOSÉ DE AQUINO FONSECA', 'MELISSA DA SILVA ROCHA',
       'NAMIL DOS SANTOS DE HOLANDA', 'NAYARA CAROLINE AZEVEDO COSTA',
       'NOEME CERDEIRA COELHO', 'OSVALDO MATEUS ALMEIDA CAZALANS',
       'PATRICIA DA SILVA E SILVA', 'PAULA PEREIRA SANTIAGO',
       'PAULO ROSSI QUEIROZ DE OLIVEIRA', 'PAULO VICTOR BATISTA CABRAL',
       'QUESIA ROBERTO MARINHO', 'RAFAELA KAROLYNA RAMOS DE FREITAS',
       'RAIMUNDO IGSON MARQUES SOARES', 'RANDERSON DA SILVA BARROS',
       'RENATA MARTINS DE OLIVEIRA', 'RONNISON DA SILVA VALENTE',
       'ROSA MARIA DIAS DE ARAUJO', 'ROSAIME DE ARAÚJO GARCIA',
       'SAMUEL HENRIQUE LIMA DA COSTA', 'SAMUEL RAMOS DA SILVA',
       'SANGELO OLIMPIO PINTO', 'SONIA PESSOA MACHADO',
       'STHEFANY ROBERTO DE SOUZA', 'TAINA MICHILES GUIMARAES',
       'TAMILHES EVELYN SILVA DE SOUZA', 'THAÍS FERREIRA NUNES',
       'THAYNA RAMOS REIS', 'THIAGO SILVA DE AZEVEDO',
       'VALDEIZA ARAUJO DE SOUZA', 'VALDELINA FONTÃO VIEIRA',
       'VANESSA VIEIRA BARROS', 'WILLIAN CLAUDIO DE OLIVEIRA',
       'YASMIM KELOANE QUEIROZ LOPES'], dtype=object)